/* ---- Mobile ---- */
h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
	line-height: 75%;
	font-style: normal;
	font-variation-settings: "MIXD" 200, "wdth" 100;
	font-feature-settings: "ss02" on, "ss01" on;
	letter-spacing: 0.05em;
	font-weight: 900;

	&.wide {
		font-size: 1rem;
		font-variation-settings: "wdth" 300;
	}
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 140%;
	letter-spacing: 0.05em;
	font-variation-settings: "MIXD" 100, "wdth" 125;
	font-feature-settings: "ss02" on, "ss01" on;
}
