main#works {
	.clients-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		row-gap: 1rem;

		.client-link {
			font-size: 1.75rem;
			font-weight: 900;
			letter-spacing: 0.045rem;
			text-transform: uppercase;
			font-variation-settings: "MIXD" 100, "wdth" 125;
			font-feature-settings: "ss02" on, "ss01" on;
			transition: font-variation-settings 0.3s ease;
			user-select: none;

			&:hover,
			&:focus {
				font-variation-settings: "MIXD" 200, "wdth" 125;
			}
		}
	}
}
