@use "../abstracts/" as *;

footer {
	width: 100%;
	grid-area: footer;
	height: 4rem;
	display: grid;
	place-content: center;

	/* ---- Tablet ---- */
	@include tablet {
		height: 6rem;
	}

	@include desktop {
		height: 100%;
	}
}
