@use "../abstracts/" as *;

header {
	width: 100%;
	grid-area: header;
	height: 4rem;
	display: grid;
	place-content: center;
	z-index: 99;

	.logo {
		display: block;
		aspect-ratio: 1;
		width: 2rem;

		/* ---- Tablet ---- */
		@include tablet {
			width: 3rem;
		}
	}

	nav {
		display: none;
	}

	@include desktop {
		height: 100%;
		place-content: center end;

		.logo {
			display: none;
		}

		nav {
			display: initial;
			ul {
				display: flex;
				column-gap: 3.5rem;

				.navLink {
					font-size: 1rem;
					font-weight: 650;
					letter-spacing: 0.045rem;
					font-variation-settings: "MIXD" 100, "wdth" 100;
					text-align: center;

					&:hover,
					&:focus {
						font-variation-settings: "MIXD" 150, "wdth" 100;
					}
				}
			}
		}
	}
}
