@use "../abstracts/" as *;

.icon {
	width: 1rem;
	aspect-ratio: 1;

	svg {
		fill: $clr-sec;
		transition: fill 0.6s ease;
	}

	&:hover,
	&:focus-visible {
		cursor: pointer;

		svg {
			fill: $clr-act;
		}
	}

	/* ---- Tablet ---- */
	@include tablet {
		width: 1.5rem;
	}

	@include desktop {
		width: 1.5rem;
	}
}