@use "../abstracts/" as *;

.progress-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;

	.title {
		font-weight: 800;
		font-variation-settings: "MIXD" 200, "wdth" 100;
		text-transform: uppercase;
	}

	.bar {
		height: 0.0625rem;
		width: 96px;
		background-color: $clr-sec;
		position: relative;
		display: flex;
		align-items: center;

		span {
			position: absolute;
			left: 0;
			display: block;
			height: 0.3125rem;
			width: 0;
			background: -webkit-linear-gradient(
				15deg,
				#bea7e5 0%,
				#2dbcea 82.61%,
				#18f0c7 149.36%
			);
		}

		@include desktop {
			width: 100%;
			max-width: 15.875rem;
		}
	}

	.value {
		font-weight: 500;
		font-variation-settings: "MIXD" 200, "wdth" 100;

		@include desktop {
			font-weight: 900;
			font-variation-settings: "MIXD" 200, "wdth" 200;
		}
	}
}
