@use "../abstracts/" as *;

.study {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.year {
		font-size: 24px;
		font-weight: 900;
		background: $clr-gradient;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-variation-settings: "MIXD" 200, "wdth" 100;
		font-feature-settings: "ss02" on, "ss01" on;

		@include desktop {
			font-size: 2rem;
		}
	}

	.title {
		font-weight: 500;
		font-size: 0.625rem;
		max-width: 60%;
		width: fit-content;

		@include desktop {
			font-size: 0.875rem;
			max-width: 70%;
			font-weight: 400;
		}
	}

	/* ---- Tablet ---- */
	@include tablet {
		.year {
			font-size: 2rem;
		}

		.title {
			font-size: 1rem;
		}
	}
}
