@use "../abstracts/" as *;

main#contacts {
	display: grid;
	place-content: center;

	.text-content {
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 2rem;

		@include desktop {
			display: grid;
			place-content: center;
			max-width: 50rem;
		}

		/* Animation initial state */
		* {
			opacity: 0;
			transform: translateY(4.6875rem);
		}
	}
}
