@use "../abstracts/" as *;

main#contacts {
	display: grid;
	place-content: center;

	.text-content {
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;

		@include desktop {
			display: grid;
			place-content: center;
			max-width: 50rem;
		}

		.socials {
			display: flex;
			width: fit-content;
			margin: 0 auto;
			column-gap: 1.5rem;

			.social {
				transform: translateY(4.6875rem);
				opacity: 0;
			}
		}

		/* Animation initial state */
		> *:not(.socials) {
			opacity: 0;
			transform: translateY(4.6875rem);
		}
	}
}
