@use "../abstracts/" as *;

main#works {
	.clients-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		row-gap: 1rem;

		.client-link {
			font-size: 1.75rem;
			font-weight: 900;
			letter-spacing: 0.045rem;
			text-transform: uppercase;
			font-variation-settings: "MIXD" 100, "wdth" 125;
			font-feature-settings: "ss02" on, "ss01" on;
			transition: font-variation-settings 0.3s ease;
			user-select: none;

			/* Animation initial state */
			opacity: 0;
			transform: translateY(75px);

			&:hover,
			&:focus {
				font-variation-settings: "MIXD" 200, "wdth" 125;
			}
		}
	}

	.thumbnail {
		display: none;
	}

	@include desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 4rem;

		.clients-list {
			align-items: flex-start;
			width: fit-content;
		}

		.thumbnail {
			display: block;
			aspect-ratio: 16/9;
			height: auto;
			width: 40rem;
			background-color: $clr-act;

			/* Animation initial state */
			clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
		}
	}
}
